* {
	box-sizing: border-box; /* calcula dimensiones para mantener el tamaño */
	padding: 0;
	margin: 0;
}
html {
	font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #181818; /* o #222 */
    color: #fff; /* Color de texto para contrastar con el fondo oscuro */
    position: relative;
    padding: 3rem;
    height: 100%;
}


/* Section medium page */

.Acerca_de{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Acerca_de img{
    width: 30rem;
    height: 20rem;
}

#Text_Acerca {
    position: relative;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#Text_Acerca h1{
    font-size: 30px;
    margin: 0;
    margin-bottom: 1rem;
}

#Text_Acerca p{
    font-size: 10px;
    margin-bottom: 3rem;
    text-align: center;
}

#Text_Acerca a{
    font-size: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

ul, ol{
    list-style: none;
}

.nav{
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: white;
    padding-left: 0px;
    width: 80vw;
}

#links .nav li a {
    font-size: 15px !important;
    padding-right: 1rem;
}

.nav > li{
    float: left;
}

.nav li ul{
    display: none;
    padding-left: 0px;
    margin-top: 15px;
    position: absolute;
    min-width: 140px;
}

.nav li:hover > ul{
    display: block;
}

/* Footer css */

.title {
    display: flex;
    justify-content: center;
}
h1 {
    margin-top: 5rem;
    font-size: 30px;
    text-align: center;
}
.buttons {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}
.buttons button {
    margin: 1rem;
    height: 4rem;
    width: 7rem;
    border: solid white;
    color: white;
    background-color: #181818;
    border-radius: 2rem;
}
.con_targ {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px; /* Espacio entre las tarjetas */
}

.targ {
    text-align: center;
    border-radius: 2rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-bottom: 1rem;
    height: 30rem;
}

.targ img {
    height: 80%;
    width: 100%; /* La imagen ocupará todo el ancho del contenedor */
    border-radius: inherit;
}


.titulo {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
}

.descripcion {
    font-size: 1.3rem;
    padding-bottom: 4rem;
    color: #666;
    text-align: left;
}
