/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #181818;
    color: azure;
}

.inactive {
    display: none;
}

/* Header */
header {
    display: flex;
    padding: 1.5rem;
}

.US {
    font-size: 5rem;
    padding-left: 2rem;
    padding-top: 2rem;
    width: 30%;
}

.navig {
    display: flex;
    justify-content: right;
    width: 70%;
}

.navig_item {
    list-style: none;
    padding: 2.3rem;
    padding-top: 4rem;
}

.navig_item a {
    font-size: 2.3rem;
    text-decoration: none;
    color: azure;
}

/* Questions and Options Containers*/
.questionsContainer {
    width: 100%;
    padding-top: 4rem;
}

.question {
    width: 90%;
    background-color: white;
    margin: 0 auto;
    padding: 3rem 0;
    border: 0.7rem red solid;
    border-radius: 2rem;
    margin-bottom: 3rem;
}

.question_q {
    width: 95%;
    height: 10rem;
    background-color: aqua;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.question_op {
    width: 90%;
    height: 8rem;
    background-color: burlywood;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    cursor: pointer;
}

/* Question Qst Inside */
.qstRP {
    font-size: 2rem;
    color: blue;
}

.qstRimg {
    width: 4.5rem;
}

/* Question Option Inside */
.qstopP {
    font-size: 2rem;
}

.qstopImg {
    width: 4rem;
}

/* Option Pressed */
.pressed {
    border: 0.3rem violet solid;
}

/* Button */
.cbutton {
    width: 10rem;
    height: 6rem;
    background-color: chartreuse;
    border-radius: 1.8rem;
    margin: 0 auto;
    text-align: center;
}

.button {
    font-size: 1.6rem;
    padding: 2rem 0;
}

/* Result */
.cAnswer {
    width: 10rem;
    height: 6rem;
    background-color: red;
    border-radius: 1.8rem;
    margin: 0 auto;
    text-align: center;
}

.answer {
    font-size: 1.6rem;
    padding: 2rem 0;
    margin-top: 2rem;
}