* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #181818;
    color: white;
}

header {
    display: flex;
    height: 6rem;
}

.US {
    font-size: 4.3rem;
    margin-left: 1.5rem;
    width: fit-content;
}

.navig {
    /* display: flex; */
    justify-content: right;
    margin-left: auto;
}

.navig_item {
    list-style: none;
    margin: 0.7rem 1.3rem;
    margin-left: 0.7rem;
    font-size: 1.3rem;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.bia {
    position: relative;
    font-size: 4.4rem;
    color: aquamarine;
    margin-left: 3.5rem;
    top: 0.7rem;
}

.us {
    position: relative;
    font-size: 4.4rem;
    color: azure;
    margin-left: 3.5rem;
    bottom: 0.7rem;
}

.text {
    margin-bottom: 1rem;
    margin-left: 3.5rem;
    padding-right: 2rem;
    font-size: 1.5rem;                                                                                                                                                                                                                                                                                                                                                            
}

.navig2 {
    margin-left: 3.5rem;
    display: flex;
    font-size: 1.4rem;
    margin-top: 1.9rem;   
}

.navig2_item {
    list-style: none;
    text-align: center;
    padding: 0 1rem;
    border-radius: 2rem;
    border: 0.1rem solid aquamarine;
    padding-top: 0.5rem;
    padding-bottom: 0.8rem;
}

.li1 {
    margin-right: 1.6rem;
    background-color: aquamarine;
}

.pic {
    width: 100%;
    text-align: center;
    justify-content: center;
    padding-top: 3rem;
}   

img {
    height: 27rem;
}