html{
    box-sizing: border-box;
    background-color: rgb(18, 18, 18);
    color: white; /*Cambiar*/
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}


.Links_inicio{
    font-size: 20px;
    display: grid;
    grid-template-columns: 87% 6% 6% ;
    color: white;
}

.Links_inicio a{
    color: rgb(126, 130, 134);
    text-decoration: none;
}

.Links_inicio #Credenciales{
    margin-top: 20px;
}
#Inicio{
    color: white;
    font-size: 35px;
    font-weight: bold;
    margin-top: 10px;

}



.Acerca_de{
    display: grid;
    grid-template-columns: 50% 50%;
}

.Acerca_de img{
    width: 70%;
    height: 100%;
    margin: 10% 10% 10% 15%;
}

#Text_Acerca{
    margin: 10% 10% 10% 0%;
}

#Text_Acerca h1{
    font-size: 40px;
    margin: 0;
}

#Text_Acerca p{
    font-size: 30px;
    margin-top: 10px;
}

#Text_Acerca a{
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    gap: 5px;
}

ul, ol{
    list-style: none;
}

.nav{
    text-decoration: none;
    display: grid;
    color: white;
    align-items: left;;
    padding-left: 0px;
    grid-template-columns: 14% 17.5% 10%;
}

.nav > li{
    float: left;
}

.nav li ul{
    display: none;
    padding-left: 0px;
    margin-top: 15px;
    position: absolute;
    min-width: 140px;
}

.nav li:hover > ul{
    display: block;
}